body {
  font-family: sans-serif;
  line-height: 1.5;

  background-color: #f9f9f9;
  color: #333333;

  width: 980px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.vizit {
  column-count: 2;
  column-width: 250px;
  column-rule: 2px solid black;
}


h1 {
  text-align: left;
  font-size: 36px;
  margin-bottom: 0;
}

main > h2 {
  text-align: left;
  font-size: 25px;
}
