body {
  font-family: sans-serif;
  line-height: 1.5;

  background-color: #f9f9f9;
  color: #333333;

  width: 980px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  
  vertical-align: middle;
}

.vizit {
  column-count: 2;
  column-width: 250px;
  column-rule: 2px solid black;
}


h1 {
  text-align: left;
  font-size: 36px;
  margin-bottom: 0;
}

main > h2 {
  text-align: left;
  font-size: 25px;
}

/SECOND PART/

a {
  color: inherit;
}

h1 {
  font-size: 2em;
}

h2[second] {
  color: #00adb5;
  font-size: 1.5em;
}

.tabs {
  box-sizing: border-box;
  width: 1024px;
  margin: 0 auto;
  
  background-image: linear-gradient(to right top, #222831, #282d36, #2d333b, #333841, #393e46);

  /* BEGIN (write your solution here) */
  column-count: 3;
  column-gap: 0;
  /* END */
}

/* BEGIN (write your solution here) */
a {
  display: block;
  margin-top: 0;
  padding: 20px;
  text-align: center;
  break-inside: avoid;

  background-color: #00adb5;
  text-decoration: none;
}

.tab-name:hover {
 border: 3px solid #5ffbf1;
}

.tabs-content {
  background-color: #393e46;
  column-span: all;
}

.tabs-content-item {
  column-count: 3;
  column-gap: 30px;
  padding: 20px;
  display: none;
}

[data-tab="html"]:hover ~ .tabs-content > [data-tab-content="html"],
[data-tab="css"]:hover ~ .tabs-content > [data-tab-content="css"],
[data-tab="js"]:hover ~ .tabs-content > [data-tab-content="js"],
[data-tab="html"]:focus ~ .tabs-content > [data-tab-content="html"],
[data-tab="css"]:focus ~ .tabs-content > [data-tab-content="css"],
[data-tab="js"]:focus ~ .tabs-content > [data-tab-content="js"] {
  display: block;
}
/* END */

.span-all {
  column-span: all;
}
